{% extends 'base-back.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}New Disease{% endblock %}

{% block body %}


    {{ include('disease/_form.html.twig') }}

    <button type="submit" class="btn btn-primary" href="{{ path('disease_index') }}">back to list</button>
{% endblock %}
