
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
{{ form_start(form  ) }}

<button type="submit" class="btn btn-primary">{{ button_label|default('inscrire') }}</button>



{{ form_end(form) }}
{% endblock %}