{% extends 'base.html.twig' %}



{% block body %}
    <h1>list des Ordonnances </h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nompatient</th>
            <th>Autre</th>

        </tr>
        </thead>
        <tbody>
        {% for ordonnance in ordonnances %}
            <tr>
                <td>{{ ordonnance.id }}</td>
                <td>{{ ordonnance.nompatient }}</td>
                <td>{{ ordonnance.autre }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
